<!DOCTYPE html>
<html ng-app="plunker">
    
    <head>
        <meta charset="utf-8" />
        <title>AngularJS Plunker</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
        <script src="angular/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
        <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
        <script src="app.js"></script>
    </head>
    
    <body ng-controller="MainCtrl">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <button ng-click="myfunc()">Start / Stop</button>
        <input type="text" ng-model="myValue"/>
        
        <p>duration: 500</p>
        <nvd3 options="options" data="data"></nvd3>
        
        <br><a href="http://krispo.github.io/angular-nvd3/" target="_blank" style="float: right;">See more</a>
    </body>
    
</html>
